{% extends 'base.html.twig' %}

{% block header_title %}
	<h1>Créer une tâche</h1>
{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
	<div class="row">
		{{ form_start(form, {'action' : path('task_create')}) }}
		{{ form_widget(form) }}

		<button type="submit" class="btn btn-success pull-right">Ajouter</button>
		<a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
		{{ form_end(form) }}

	</div>
{% endblock %}
