{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block header_title %}
	<h1 class="text-center">Page non trouvée</h1>
{% endblock %}

{% block body %}
	<div class="row text-center">
		<p>La page sur laquelle vous tentez d'accéder na pas été trouvée</p>
		<a href="{{ path('homepage') }}" class="btn btn-success">Retour à l'accueil</a>
	</div>
{% endblock %}
